---
import MenuButton from "./MenuButton.astro";
---

<section>
    <MenuButton url="/food/menu-pdf-food.pdf" menuType="Пицца" />
    <MenuButton url="/food/menu-pdf-drinks.pdf" menuType="Напитки" />
    <MenuButton url="/food/menu-pdf-catering.pdf" menuType="Десерты" />
</section>

<style>
    section {
        padding-top: 50px;
    }
</style>